body {
  /* fallback for old browsers */
  background: #0F2027;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.white {
  color: white;
}

.form {
  padding-top: 20px;
  padding-bottom: 35px;
  width: 40%;
  min-width: 350px;
  margin: auto;
  text-align: center;
  letter-spacing: 2px;
}

.label-text {
  color: white;
  padding-top: 15px;
  font-weight: bold;
  cursor: text;
  -moz-transform: translateY(-42px);
  -ms-transform: translateY(-42px);
  -webkit-transform: translateY(-42px);
  transform: translateY(-42px);
  transition: all 0.3s;
  pointer-events: none;
}

.label-text-textarea {
  color: white;
  padding-top: 15px;
  font-weight: bold;
  cursor: text;
  -moz-transform: translateY(-42px);
  -ms-transform: translateY(-42px);
  -webkit-transform: translateY(-42px);
  transform: translateY(-42px);
  transition: all 0.3s;
  pointer-events: none;
}

input:focus+.label-text,
input:valid+.label-text,
input:hover+.label-text {
  color: white;
  -moz-transform: translateY(-72px);
  -ms-transform: translateY(-72px);
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px);
}

select:focus+.label-text,
select:hover+.label-text  {
  color: white;
  -moz-transform: translateY(-66px);
  -ms-transform: translateY(-66px);
  -webkit-transform: translateY(-66px);
  transform: translateY(-66px);
}

textarea:focus+.label-text-textarea,
textarea:valid+.label-text-textarea,
textarea:hover+.label-text-textarea  {
  color: white;
  -moz-transform: translateY(-124px);
  -ms-transform: translateY(-124px);
  -webkit-transform: translateY(-124px);
  transform: translateY(-124px);
}

.label-text-up {
  color: white;
  padding-top: 15px;
  font-weight: bold;
  cursor: text;
  -moz-transform: translateY(-66px);
  -ms-transform: translateY(-66px);
  -webkit-transform: translateY(-66px);
  transform: translateY(-66px);
  transition: all 0.3s;
  pointer-events: none;
}

.form input,
.form select {
  background-color: transparent;
  height: 30px;
  border-color: white;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  width: 100%;
  text-align: justify;
  /* For Edge */
  text-align-last: center;
  color: white;
  transition: all 0.25s ease;
  box-sizing: border-box;
  outline-style: none;
}

.form option {
  color: black;
}

.form textarea {
  resize: none;
  box-sizing: border-box;
  background-color: transparent;
  border-color: white;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  width: 100%;
  min-width: 250px;
  text-align: justify;
  /* For Edge */
  text-align-last: center;
  color: white;
  outline-style: none;
}

.form input:focus,
.form input:hover,
.form select:focus,
.form select:hover,
.form textarea:focus,
.form textarea:hover {
  border-bottom: 3px solid white;
  border-bottom-width: 3px;
}

#submitButton {
  position: relative;
  overflow: hidden;
  background-color: ghostwhite;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.75rem 2rem;
  float: right;
  cursor: pointer;
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: black;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.top_title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  margin-left: 10px;
}

.noti_dropdown {
  position: absolute;
  background-color: ghostwhite;
  z-index: 1;
  height: 1px;
  width: 1px;
  max-width: 400px;
  right: 10px;
  top: 70px;
  border-radius: 25px;
  opacity: 0;
  transition: all 0.25s ease;
}

.noti_dropdown h4 {
  text-align: center;
}

.noti_dropdown.show {
  opacity: 1;
  height: 85%;
  width: 95%;
}

#unit_div {
  box-sizing: border-box;
  margin: auto;
  background-color: ghostwhite;
  border-radius: 25px;
  width: 340px;
  height: 240px;
  padding: 20px;
}

#unit_div_title {
  font-size: 25px;
}

.right_value {
  float: right;
}

.unit_list {
  list-style: none;
  padding-left: 10px;
}

.unit_list li {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.unit_list li:not(:last-child) {
  margin-bottom: 6px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}